* {
  margin: 0;
  padding: 0;
}

.main {
  width: 100%;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  background: linear-gradient(to top, rgba(2, 59, 61, 0.5)50%, rgba(2, 59, 61, 0.5)50%);
  background-position: center;
  background-size: cover;
  height: 100vh;
}



.logo {
  color: #07133a;
  font-size: 35px;
  font-family: Arial;
  padding-left: 20px;
  float: left;
  padding-top: 10px;
  margin-top: 5px
}



h1 {
  color: rgb(102, 59, 8);
  padding-top: 94px;
  padding-left: 550px;

}

h2 {
  color: rgb(102, 59, 8);
  padding-top: 34px;
  padding-left: 700px;

}


input {
  width: 600px;
  padding: 12px 05px;
  margin: 24px 0;
  display: inline-block;
  border: 1px solid #b84022;
  border-radius: 4px;
  box-sizing: border-box;
}


form {
  margin-top: 90px;
}

table {
  margin-top: 20px;
  margin-left: 560px;
  border-collapse: collapse;
  width: 500px;

}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;

}

button {
  background-color: #280d53;
  /* Green */
  border: none;
  border-radius: 6px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #6932d1;
  cursor: pointer;
}